nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: @nav-bg;
    color: #23293B;
    text-align: center;
    border-bottom: 1px solid @nav-border;

    h1 {
        font-size: 24px;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 5px;
        display: inline-block;
    }

    ul {
        // margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        // gap: 10px;

        li {
            display: inline-block;
            font-size: 1.6rem;
            padding: 8px;

            @media @phone {
                font-size: 1.5rem;
                padding: 5px;
            }
            @media @phone-mini {
                font-size: 1.4rem;
                padding: 4px;
            }

            a {
                display: block;
                color: #131111;
                text-decoration: none;

                &:hover {
                    background-color: #fff;
                    color: @focus-click;
                }
            }
        }
    }
}

.focado {
    color: @focus-click;
}